@model TestMvc.Models.Persoana

@{
    ViewData["Title"] = "Șterge";
}

<h1>Șterge</h1>
<div class="mt-5">
<h3>Ești sigur că vrei să ștergi?</h3>
</div>
<div>
    <div class="mt-5">
    <h4>Persoană</h4>
    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
    </dl>
    <div class="mt-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersoanaId" />
        <input type="submit" value="Șterge" class="btn btn-danger" /> |
        <a asp-action="Index">Înapoi la listă</a>
    </form>
    </div>
</div>
